body
{
  background-color: #ECF2F5;
}
p
{
  font-size: 30px;
  color: #3D0526;
  font-family: "Audiowide", sans-serif;
}
.lab
{
  font-style: oblique;
  font-size: 20px;
  color: #3F047A;
}
.sub
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.mount
{
  position: absolute;
  right: 10px;
  left: 650px;
  top: 100px;
  width: 40%;
}
ul
{
  font-size: 30px;
   font-family: "Times New Roman", Times, serif;
   position: absolute;
   right: 900px;
   top: 380px;
   left: 0;
   color:#3F047A;
   font-style: italic;
}
a
{
  text-decoration: none;
}
a:hover
{
  color: #13E4CB;
}
